.git
.gitignore
node_modules
.env
.env.local
.env.development
.env.production
.gcloudignore
Dockerfile
.dockerignore
npm-debug.log
src
tsconfig.json
vite.config.ts
server.ts
firebase-applet-config.json
firebase-blueprint.json
firestore.rules
metadata.json
walkthrough.md
task.md
implementation_plan.md
